* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    font: normal 400 1.6rem 'Rubik', sans-serif;
}

#app, #calculator, header, main {
    display: grid;
}